<style>
    .foot{
        text-align: center;
        align-items: center;
        background-color: #aaa;
        height: 300px;
        width: 100%;
        display: block;
        color: #636b6f;
    }

    #mail{
        height: 220px;
        background-color: #111
    }

    #icons{
        height: 80px;
    }

    @media (max-width: 550px){
        .foot{
            height: 200px;
            width: 100%;
        }

        #icons{
            height: 50px;
        }
        #mail{
            height: 150px;
        }
        #icons i {
            margin-top: 20px!important;
        }
        #mail > p {
            line-height: 140px !important;
        }
    }

    #icons i {
        margin-top: 30px ;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="foot">
    <div id="icons">
        <a href="https://www.instagram.com/otto_zhang/?hl=en"><i class="fa fa-instagram black fa-2x"></i></a>
        <a href="https://www.weibo.com/u/2172136617?refer_flag=1001030102_&is_hot=1"><i class="fa fa-weibo black fa-2x"></i></a>
        <a href="/contact"><i class="fa fa-wechat black fa-2x"></i></a>
        <a href="mailto:ottozrq@gmail.com"><i class="fa fa-envelope black fa-2x"></i></a>
    </div>
    <div id="mail">
        <p class="h4" style="line-height: 210px">OTTOZRQ@GMAIL.COM</p>
    </div>
</div>



