<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wedding</title>
</head>
<body>

<div class="submain">
    <div class="row">
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-2.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-25.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-6.jpg') }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box col col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-3.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-21.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-11.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-5.jpg') }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-4.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-8.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-9.jpg') }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-22.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-19.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-15.jpg') }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-12"></div>
        <div class="box col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-12">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-20.jpg') }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-12.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-13.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-14.jpg') }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-12"></div>
        <div class="box col col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-12">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-18.jpg') }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-10.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-27.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-24.jpg') }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box col col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-17.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-29.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-30.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-28.jpg') }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-26.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-23.jpg') }}">
            </div>
        </div>
        <div class="box col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="content">
                <img src="{{ url_for('static', filename = 'img/wedding/wedding-1.jpg') }}">
            </div>
        </div>
    </div>
</div>


</body>
</html>