{% extends "it.layout.html" %}
{% block title %}Cacaou 隐私政策{% endblock %}
{% block content %}
<div class="policy-container">
    <div class="policy-header">
        <h1>Cacaou 隐私政策</h1>
        <p class="last-updated">最后更新：2025年7月31日</p>
    </div>

    <div class="policy-content">
        <p>本隐私政策描述了我们在您使用服务时收集、使用和披露您信息的政策和程序，并告知您您的隐私权利以及法律如何保护您。</p>
        
        <p>我们使用您的个人数据来提供和改进服务。通过使用服务，您同意根据本隐私政策收集和使用信息。本隐私政策是在隐私政策生成器的帮助下创建的。</p>

        <h2>解释和定义</h2>
        
        <h3>解释</h3>
        <p>首字母大写的词汇在以下条件下具有定义的含义。以下定义无论以单数还是复数形式出现，都应具有相同的含义。</p>

        <h3>定义</h3>
        <p>就本隐私政策而言：</p>
        <ul>
            <li><strong>账户</strong> 指为您访问我们服务或部分服务而创建的唯一账户。</li>
            <li><strong>关联公司</strong> 指控制、被控制或与一方共同控制的实体，其中"控制"指拥有50%或以上的股份、股权或其他有权投票选举董事或其他管理机构的证券的所有权。</li>
            <li><strong>应用程序</strong> 指由公司提供的软件程序Cacaou。</li>
            <li><strong>公司</strong>（在本协议中称为"公司"、"我们"、"我们"或"我们的"）指Cacaou。</li>
            <li><strong>国家</strong> 指：中国</li>
            <li><strong>设备</strong> 指可以访问服务的任何设备，如计算机、手机或数字平板电脑。</li>
            <li><strong>个人数据</strong> 指与已识别或可识别的个人相关的任何信息。</li>
            <li><strong>服务</strong> 指应用程序。</li>
            <li><strong>服务提供商</strong> 指代表公司处理数据的任何自然人或法人。</li>
            <li><strong>第三方社交媒体服务</strong> 指用户可以通过其登录或创建账户使用服务的任何网站或社交网络网站。</li>
            <li><strong>使用数据</strong> 指自动收集的数据，由使用服务生成或来自服务基础设施本身。</li>
            <li><strong>您</strong> 指访问或使用服务的个人，或代表该个人访问或使用服务的公司或其他法律实体。</li>
        </ul>

        <h2>收集和使用您的个人数据</h2>
        
        <h3>收集的数据类型</h3>
        
        <h4>个人数据</h4>
        <p>在使用我们的服务时，我们可能会要求您提供某些可用于联系或识别您的个人身份信息。个人身份信息可能包括但不限于：</p>
        <ul>
            <li>电子邮件地址</li>
            <li>姓名</li>
            <li>使用数据</li>
        </ul>

        <h4>使用数据</h4>
        <p>使用数据在使用服务时自动收集。</p>
        <p>使用数据可能包括您的设备的互联网协议地址（如IP地址）、浏览器类型、浏览器版本、您访问的服务页面、访问时间和日期、在这些页面上花费的时间、唯一设备标识符和其他诊断数据等信息。</p>

        <h4>来自第三方社交媒体服务的信息</h4>
        <p>公司允许您通过以下第三方社交媒体服务创建账户并登录使用服务：</p>
        <ul>
            <li>Google</li>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Twitter</li>
            <li>LinkedIn</li>
        </ul>

        <h4>使用应用程序时收集的信息</h4>
        <p>在使用我们的应用程序时，为了提供应用程序的功能，我们可能会在您事先许可的情况下收集：</p>
        <ul>
            <li>来自您设备摄像头和照片库的图片和其他信息</li>
        </ul>

        <h3>使用您的个人数据</h3>
        <p>公司可能将个人数据用于以下目的：</p>
        <ul>
            <li><strong>提供和维护我们的服务</strong>，包括监控我们服务的使用情况。</li>
            <li><strong>管理您的账户：</strong> 管理您作为服务用户的注册。</li>
            <li><strong>履行合同：</strong> 开发、遵守和执行您购买的产品、物品或服务的购买合同。</li>
            <li><strong>联系您：</strong> 通过电子邮件、电话、短信或其他等效的电子通信形式联系您。</li>
            <li><strong>为您提供</strong> 关于我们提供的与您已购买或询问的商品、服务和事件相似的其他商品、服务和事件的新闻、特别优惠和一般信息。</li>
            <li><strong>管理您的请求：</strong> 处理和管理您对我们的请求。</li>
            <li><strong>业务转让：</strong> 我们可能使用您的信息来评估或进行合并、剥离、重组、重组、解散或其他出售或转让我们全部或部分资产的交易。</li>
            <li><strong>其他目的：</strong> 我们可能将您的信息用于其他目的，如数据分析、识别使用趋势、确定我们促销活动的有效性以及评估和改进我们的服务。</li>
        </ul>

        <h3>保留您的个人数据</h3>
        <p>公司仅在为本隐私政策中规定的目的所必需的时间内保留您的个人数据。我们将保留和使用您的个人数据，以遵守我们的法律义务、解决争议和执行我们的法律协议和政策。</p>

        <h3>转让您的个人数据</h3>
        <p>您的信息，包括个人数据，在公司的运营办公室和参与处理的其他地方进行处理。这意味着这些信息可能会被传输到您所在州、省、国家或其他政府管辖范围之外的计算机上，那里的数据保护法律可能与您所在管辖范围的法律不同。</p>

        <h3>删除您的个人数据</h3>
        <p>您有权删除或要求我们协助删除我们收集的关于您的个人数据。</p>
        <p>我们的服务可能会让您能够从服务内部删除关于您的某些信息。</p>

        <h3>披露您的个人数据</h3>
        
        <h4>商业交易</h4>
        <p>如果公司参与合并、收购或资产出售，您的个人数据可能会被转让。我们将在您的个人数据被转让并受不同隐私政策约束之前提供通知。</p>

        <h4>执法</h4>
        <p>在某些情况下，如果法律要求或响应公共当局的有效请求，公司可能需要披露您的个人数据。</p>

        <h4>其他法律要求</h4>
        <p>公司可能出于善意相信此类行动是必要的而披露您的个人数据：</p>
        <ul>
            <li>遵守法律义务</li>
            <li>保护和捍卫公司或服务的权利或财产</li>
            <li>防止或调查与服务相关的可能的错误行为</li>
            <li>保护服务用户或公众的人身安全</li>
            <li>防止法律责任</li>
        </ul>

        <h3>您个人数据的安全性</h3>
        <p>您个人数据的安全性对我们很重要，但请记住，通过互联网传输或电子存储的方法都不是100%安全的。虽然我们努力使用商业上可接受的方式来保护您的个人数据，但我们无法保证其绝对安全性。</p>

        <h2>儿童隐私</h2>
        <p>我们的服务不针对13岁以下的任何人。我们不会故意收集13岁以下任何人的个人身份信息。如果您是父母或监护人，并且您知道您的孩子向我们提供了个人数据，请联系我们。</p>

        <h2>其他网站的链接</h2>
        <p>我们的服务可能包含指向非我们运营的其他网站的链接。如果您点击第三方链接，您将被定向到该第三方网站。我们强烈建议您查看您访问的每个网站的隐私政策。</p>

        <h2>本隐私政策的变更</h2>
        <p>我们可能会不时更新我们的隐私政策。我们将通过在此页面上发布新的隐私政策来通知您任何变更。</p>
        <p>我们将在变更生效前通过电子邮件和/或在我们服务上的显著通知让您知道，并更新本隐私政策顶部的"最后更新"日期。</p>

        <h2>联系我们</h2>
        <p>如果您对本隐私政策有任何问题，您可以通过以下方式联系我们：</p>
        <ul>
            <li>通过电子邮件：[email protected]</li>
            <li>访问我们网站上的此页面：<a href="https://ottozhang.com">https://ottozhang.com</a></li>
        </ul>
    </div>
</div>
{% endblock %}